*{
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: Segoe UI;
	overflow: hidden;
	vertical-align: middle;
}

.canvasHolder{
	position:relative;
	display: inline-block;
	width: calc(100% - 80px);
	height: 100%;
	left: 80px;

}

.canvas{
	box-sizing: border-box;
	left: 0px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	display: block;
}

.layerSelector{
	box-sizing: border-box;
	width: 100%;
	height: 26.6px;
	line-height: 26.6px;
	background: #bbbbbb;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#layerSelectors{
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 8px;
}

.layerSelector:hover,.brushStyleSelector:hover,.shape:hover{
	cursor: pointer;
	background: #dddddd;
}

#opacityHolder{
	/*height: 21.7px;
	margin-bottom: 8px;
	vertical-align: middle;*/
	/*display: inline-block;*/
}

#opacity{
	margin-bottom: 8px;
}

.rangeSlider{
	height:21.7px;
	background: linear-gradient(90deg,rgb(0,0,0,0),rgb(0,0,0,0.5));
	width: 80px;
	vertical-align: middle;
	-webkit-appearance: none;
}

.rangeSlider::-webkit-slider-thumb{
	background: #bbbbbb;
	-webkit-appearance: none;
	appearance: none;
	width: 6px;
	height: 22px;
	border-radius: 0;
	border: 0px solid white;
	cursor: pointer;
}

.rangeSlider::-moz-range-thumb{
	background: #bbbbbb;
	width: 6px;
	height: 22px;
	border-radius: 0;
	border: 0px solid white;
	cursor: pointer;
}

.brushStyleSelector{
	box-sizing: border-box;
	width: 26.6px;
	height: 26.6px;
	background: #bbbbbb;
	display: inline-block;
	border: 0px solid #cccccc;
	vertical-align: middle;
	margin-bottom: 8px;
	/*position: absolute;*/
}

.active{
	background: #777777;
}

#BS_Round{
	border-radius: 15px;
}

#BS_Line{
	height: 4px;
}

#divider{
	width: 100%;
	height: 2px;
	background: linear-gradient(230deg,#523838,#454560);
}

#shapes{
	width: 100%;
	height: 26px;
	margin-top: 8px;
	margin-bottom: 8px;
	vertical-align: middle;
	display: inline-block;
}

.shape{
	width: 33.33%;
	height: 26px;
	/*box-sizing: border-box;*/
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}

#line{
	box-sizing: border-box;
	width: 2px;
	height: 17px;
	transform: skew(-30deg);
	background: #999999;
	display: inline-block;
	vertical-align: middle;
}

#rectangle{
	box-sizing: border-box;
	background: #999999;
	/*border: 2px solid #999999;*/
	width: 20px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}

#isoTriangle{
	box-sizing: border-box;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #999999;
	display: inline-block;
	vertical-align: middle;
}

.toolbar{
	/*background: #222222;*/
	background: linear-gradient(230deg,#624848,#555570);
	display: inline-block;
	width: 80px;
	height: 100%;
	position: absolute;
}

#currentColour{
	width: 80px;
	height: 80px;
	background: #000000;
}

.colour{
	box-sizing: border-box;
	width: 50%;
	height: 42px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: top;
	/*border: 1px solid #dddddd;*/
}

#colours{
	margin-bottom: 8px;
}

.inputColour{
	color: white;
	background: #555555;
	background: linear-gradient(230deg,#624848,#555570);
	border-style: hidden;
	height: 21px;
	line-height: 21px;
	/*border-radius: 2px;*/
	/*position: absolute;*/
	width: 80px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

#clearButton{
	background: #aaaaaa;
	/*position: absolute;*/
	width: 80px;
	height: 60px;
	border: 1px solid black;
	border-style: hidden;
	display: inline-block;
}

#clearButton:hover{
	cursor: pointer;
	background: #bbbbbb;
}

#clearHolder{
	text-align: center;
}

