*{
	margin: 0;
	padding: 0;
}

html,body{
	width: 100%;
	height: 100%;
	font-family: Segoe UI;
	overflow: hidden;
	vertical-align: middle;
}

.canvasHolder{
	position:relative;
	display: inline-block;
	width: calc(100% - 80px);
	height: 100%;
	left: 80px;

}

.canvas{
	box-sizing: border-box;
	left: 0px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	display: block;
}

.layerSelector{
	box-sizing: border-box;
	width: 26.6px;
	height: 26.6px;
	line-height: 26.6px;
	background: #aaaaaa;
	display: inline-block;
	text-align: center;


	
	/*border: 1px solid #bbbbbb;*/
	/*border-radius: 3px;*/
	
	vertical-align: middle;
}

#layerSelectors{
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 8px;
}

.layerSelector:hover,.brushStyleSelector:hover{
	cursor: pointer;
	background: #cccccc;
}


.brushStyleSelector{
	box-sizing: border-box;
	width: 26.6px;
	height: 26.6px;
	background: #aaaaaa;
	display: inline-block;
	border: 1px solid #bbbbbb;
	vertical-align: middle;
	margin-bottom: 8px;
	/*position: absolute;*/
}


#BS_Round{
	border-radius: 15px;
}

#BS_Line{
	height: 2px;
	
}

.toolbar{
	/*background: #222222;*/
	background: linear-gradient(230deg,#624848,#555570);
	display: inline-block;
	width: 80px;
	height: 100%;
	position: absolute;
}

.colour{
	box-sizing: border-box;
	width: 50%;
	height: 42px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: top;
	/*border: 1px solid #dddddd;*/
}

#colours{
	margin-bottom: 8px;
}

.inputColour{
	color: white;
	background: #555555;
	background: linear-gradient(230deg,#624848,#555570);
	border-style: hidden;
	border-radius: 2px;
	position: absolute;
	left: 58px;
	top: 5vh;
	width: 4vw;
	text-align: center;
	display: inline-block;
}

#clearButton{
	background: #aaaaaa;
	/*position: absolute;*/
	width: 80px;
	height: 60px;
	border: 1px solid black;
	border-style: hidden;
	display: inline-block;
}

#clearButton:hover{
	cursor: pointer;
	background: #bbbbbb;
}

#clearHolder{
	text-align: center;
}

.canvasHolder button:hover{
	cursor:pointer;

}



#bucket{
	z-index: 10;
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #dddddd;

}

@media only screen and (max-width: 1270px){
	.inputColour{
		width: 53px;
	}

}